@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap");

.App {
  text-align: center;
  box-sizing: border-box;
  line-height: 1.4em;
  font-family: "Open Sans", sans-serif;
}
.content {
  border: 1px solid #c1e1f7;
  max-width: 650px;
  margin: 0 auto;
  min-height: 700px;
  padding: 4% 0 0% 0;
  background-color: #f4f1e8;
  background: url("./images/background.jpg");
  background-size: cover;
  background-position: center;
}
h1 {
  font-size: 1.6em;
  color: #a66800;
}

header {
  background-color: #022346;
  color: white;
}
.nav {
  font-size: 2em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  max-width: 650px;
  margin: 0 auto;
}

.nav a {
  color: white;
  margin-right: 3%;
}

.servant-list,
.servant-display {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  padding-top: 8%;
  //border: 1px solid blue;
  padding-left: 4%;
}

.servant-list a {
  //border: 1px solid brown;
  width: 48%;
  min-width: 130px;
  min-height: 200px;
  text-decoration: none;
  color: #000;
  //border: 1px solid red;
  img {
    // border: 1px solid blue;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px #4e4e4e;
  }
}

.cards {
  //border: 1px solid red;
  max-width: 160px;
  margin: 0 auto;
  min-height: 240px;
  text-align: center;
}

.servant-name {
  font-weight: 600;
  color: #002585;
  text-align: left;
  margin-left: 10%;
}
.servant-id {
  color: #985f00;
  margin-left: 10%;
}

.right {
  margin-left: 20%;
}

.icon {
  border: 1px solid #417193;
  width: 50%;
}

.main img {
  object-fit: cover;
  width: 100%;
}

/* .react-icons {
  color: #fff;
  width: 2em;
  height: 2em;
  font-weight: 300;
}
.react-icons:hover {
  color: #9eeaff;
} */

//Give the icons a large padding so when i hover, it will do the effect.
i.las {
  color: #fff;
  padding: 10px 40%;
  &:hover {
    color: #9eeaff;
    cursor: pointer;
  }
}

i.las.la-star {
  font-size: 1.1em;
  color: #eebc00;
  display: inline;
  -webkit-text-stroke: 1px black;
  margin-left: -40px;
}
